# Java class files
*.class

# Maven and Gradle directories
/.idea/
/*.iml
/.mvn/
/.gradle/
/build/

# Eclipse project files
/.project
/.classpath
/.settings/

# IntelliJ IDEA project files

# Python cache files
__pycache__/
/*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log
/
# Temporary files
*.tmp

*.db

/target/
/environment/